$white_color:#fff;
$red_color: #D61C22;
$gray_color:#B4B4B4;
$p_gray_color:#666666;
$gray_color:#B4B4B4;
$black_color: #222222;
$dark_black_color: #111111;
$white_opacity_color: #FFFFFFE6;
$Poppins_family: "Poppins", sans-serif;
$Courge_family: "Courgette", cursive;
$Montserrat_family: "Montserrat", sans-serif;
